

.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}
/* .nav-simple .w {
    width: 1080px;
    overflow: hidden;
    margin:  0 auto;
} */